src/main/mule/emp-onboard-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="emp-onboard-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="emp-onboard-api-config" api="resource::37513a5c-61c8-4566-8c30-c9d2a08150d8:emp-onboard-api:1.0.1:raml:zip:emp-onboard-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration doc:name="Configuration" doc:id="e7362bca-4dd2-4581-942b-eefbb1afb278" defaultErrorHandler-ref="global-error-handler" />
	<flow name="emp-onboard-api-main">
        <http:listener config-ref="emp-onboard-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="emp-onboard-api-config" />
    </flow>
    <flow name="emp-onboard-api-console">
        <http:listener config-ref="emp-onboard-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="emp-onboard-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employee\(employee_id):application\xml:emp-onboard-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="employee_id">attributes.uriParams.'employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  response: {
    status: "200",
    message: "Success"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\employee\(employee_id):emp-onboard-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="employee_id">attributes.uriParams.'employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\employee\(employee_id):emp-onboard-api-config" />
    </flow>
    <flow name="patch:\employee\(employee_id):emp-onboard-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="employee_id">attributes.uriParams.'employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\employee\(employee_id):emp-onboard-api-config" />
    </flow>
    <flow name="get:\employee:emp-onboard-api-config">
        <logger level="INFO" message="get:\employee:emp-onboard-api-config" />
    </flow>
    <flow name="get:\employee\(employee_id):emp-onboard-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="employee_id">attributes.uriParams.'employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\employee\(employee_id):emp-onboard-api-config" />
    </flow>
    <flow name="post:\employee:application\json:emp-onboard-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: 200,
  message: "Success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
